<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon.png">
    <title>Mencatat Tugas Kuliah</title>
    <!-- Footable CSS -->
    <link href="./assets/node_modules/footable/css/footable.core.css" rel="stylesheet">
    <link href="./assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="./assets/dist/css/style.min.css" rel="stylesheet">
    <!-- page css -->
    <link href="./assets/dist/css/pages/footable-page.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fixed-layout skin-green-dark mini-sidebar">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elite admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="./assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                         <!-- Light Logo text -->    
                         <img src="./assets/images/logo-light-text.png" class="light-logo" alt="homepage" /></span> </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-sm-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                       
                        
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        
                        <li> <a class=" waves-effect waves-dark" href="#" aria-expanded="false"><i class="ti-layout-accordion-merged"></i><span class="">Data Tugas Kuliah</span></a> 
                        </li>
                        
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self">
                        <h4 class="text-themecolor">Data Tugas Kuliah</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Data Tugas Kuliah</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Daftar Tugas Kuliah</h4>
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th>Kode Mata Kuliah</th>
                                                <th>Mata Kuliah</th>
                                                <th>Tugas Kuliah</th>
                                                <th style="text-align: right;">Aksi</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="b in dataBarang">
                                                <td>{{ b.kodeTugas }}</td>
                                                <td>{{ b.mataKuliah }}</td>
                                                <td>{{ b.tugasKuliah }}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal" @click="editTugas(b)">
                                                        <i class="glyphicon glyphicon-pencil"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-danger" @click="hapusTugas(b)">
                                                        <i class="glyphicon glyphicon-trash"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <button  @click="tambahBarang" type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#Modal">Tambah Tugas Kuliah</button>
                                                </td>
                                                <!--modal-->
                                                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                                <h4 v-if="enable" class="modal-title">Tambah Tugas Kuliah</h4>
                                                                <h4 v-else="enable" class="modal-title">Edit Tugas Kuliah</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form v-if="enable">
                                                                    <div class="form-group">
                                                                        <label>Mata Kuliah</label>
                                                                        <input type="text" class="form-control" placeholder="Masukkan Mata Kuliah" v-model="inputDataTugas.mataKuliah"/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Tugas Kuliah</label>
                                                                        <input type="date" class="form-control" placeholder="Masukkan Tugas Kuliah" v-model="inputDataTugas.tugasKuliah"/>
                                                                    </div>
                                                                </form>
                                                                <form v-else="enable">
                                                                    <div class="form-group">
                                                                        <label>Kode Tugas</label>
                                                                        <input type="text" class="form-control" v-model="inputDataTugas.kodeTugas" disabled/>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label>Mata Kuliah</label>
                                                                        <input type="text" class="form-control" placeholder="Masukkan Mata Kuliah" v-model="inputDataTugas.mataKuliah"/>
                                                                    </div>
                                                                    
                                                                    <div class="form-group">
                                                                        <label>Tugas Kuliah</label>
                                                                        <input type="text" class="form-control" placeholder="Masukkan Tugas Kuliah" v-model="inputDataTugas.tugasKuliah"/>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                                                <button v-if="enable" type="button" class="btn btn-primary" data-dismiss="modal" @click="simpanTugas(inputDataTugas)">Simpan</button>
                                                                <button v-else="enable" type="button" class="btn btn-success" data-dismiss="modal" @click="updateTugas(inputDataTugas)">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--modal -->
                                                

                                                <td colspan="7">
                                                    <div class="text-right">
                                                        <ul class="pagination"> </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- Column -->
                        
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
               
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="./assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="./assets/node_modules/popper/popper.min.js"></script>
    <script src="./assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="./assets/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="./assets/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="./assets/dist/js/sidebarmenu.js?>"></script>
    <!--Custom JavaScript -->
    <script src="./assets/dist/js/custom.min.js"></script>
    <!-- Footable -->
    <script src="./assets/node_modules/footable/js/footable.all.min.js"></script>
    <!--FooTable init-->
    <script src="./assets/dist/js/pages/footable-init.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    
</body>

</html>